#Name = Rithik
Email = hritikbhardwaj2004@gmail.com
Assignment Name = Data Types


# Questions & Answers
#1 What are data structures and why are they important
-> Data structures are specialized formats for organizing, storing, and retrieving data.
They provide a way to arrange data in a computer so that it can be accessed and updated efficiently.
Examples - arrays, linked lists etc.

#2 Explain the difference between mutable and immutable data types with examples
-> Mutable data types are those whose values can be modified after they are created. For ex - Lists and sets
-> Immutable data types are those whose values cannot be changed after they are created. For ex - Strings and tuples.

#3 What are the main differences between lists and tuples in python
-> Lists can be modified, meaning their elements can be changed, added or removed after creation.
Iteration over lists is time-consuming.
Lists are better for performing operations, such as insertion and deletion.

->Tuples cannot be modified after creation. Any attempt to change an element will result in an error.
Iterations over tuple is faster
Tuples are more suitable for accessing elements efficiently.

#4 Describe how dictionaries store data
-> Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

#5 Why might you use a set instead of a list in python
-> Sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

#6 What is a string in python and how its different from a list
-> A string is a sequence of characters between single or double quotes.String is used for representing textual data.

A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

#7 How do tuples ensure data integrity in python
-> Tuples are immutable in nature i.e. they cannot be changed or modified after they are created. Their contents remain constant throughout their lifecycle, which guarantees data integrity and reliability.

#8 What is a hash table and how does it related to dictionaries in python
-> A hash table is a data structure that allows for quick insertion, deletion and retreival of data. It works by using a hash function to map a key to an index in an array.
# Relation of hash table with dictionaries in Python
1) Python dictionaries are implemented using hash tables.
2) When we create a dictionary, Python uses a hash function to map the keys to indices within an internal array (or "buckets").

#9 Can lists contain different data types in python
-> Yes

#10 Explain why strings are immutable in python
-> Immutability is the property of an object due to which we cannot change the object after the creation of it and this immutability in the case of a string is known as string immutability.

#11 What advantages do dictionaries offer over lists for certain tasks
-> Fast Lookups:Dictionaries use a hash table, allowing for near-instantaneous retrieval of values based on their keys, unlike lists where you need to iterate through elements to find a specific value.

Key-Value Pairs:Dictionaries store data as key-value pairs, making it easy to associate data with meaningful identifiers, which is useful for representing data with relationships or metadata.

#12 Describe a scenario where using a tuple would be preferable over a list
-> we can use a tuple if we need an immutable collection where the elements won't change after creation.

#13 How do sets handle duplicate values in python
-> Python sets cannot have duplicate values. While you cannot modify the individual elements directly, you can still add or remove elements from the set.

#14 How does the in keyword work differently for list and dictionary
-> The "in" operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

#15 Can you modify the elements of a tuple explain why and or why not
-> No, we cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.

#16 What is a nested dictionary give an give an example of its use case
-> A nested dictionary is a dictionary where the values are themselves dictionaries, allowing for hierarchical data organization. A use case is representing an organizational chart, where each department (key) has a dictionary of employees (value) with their details.

#17 Describe the time complexity of accessing elements in a dictionary
-> Accessing elements in a dictionary (or hash map) by key has an average time complexity of O(1), meaning it takes constant time, regardless of the dictionary's size.

Dictionaries are typically implemented using hash tables (or hash maps).
Hashing:
A hash function converts the key into an index (or hash value) within the table.

#18 In what situations are lists preferred over dictionaries
-> Lists are preferred over the dictionaries when the order of the elements is crucial, you need to store multiple values for an item or when performing ordered operations like sorting is more important than fast lookups.

#19 Why are dictionaries considered unordered and how does that affect data retrieval
-> Dictionaries are considered unordered because they don't inherently maintain the order in which elements are added; instead, they prioritize fast key-based access, meaning retrieval is based on the key, not a position or index. This lack of inherent order means you can't rely on the order of keys when iterating or retrieving data.

#20 Explain the difference between a list and dictionary in terms of Â data retrieval
->  list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair.
Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [ ]:
#Question & Answer

In [3]:
# 1 Write a code to create a string with your name and print it
Name = "Rithik"
print(Name)

Rithik

In [12]:
#2 Write a code to find the length of the string "Hello World"
i = "Hello World"
print(len(i))

11

In [5]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[3:])

hon Programming

In [6]:
#4 Write a code to convert the string "hello" to uppercase
username = input("Enter your name: ")
print(username.upper())

Enter your name: hello
HELLO

In [7]:
#5 Write a code to replace the word "apple" with "orange" in the string "i like apple"
username = "i like apple"
print(username.replace("apple","orange"))

i like orange

In [9]:
#6 Write a code to create a list with numbers 1 to 5 and print it
i = 1
while i <= 5:
      print(i)
      i = i+1

1
2
3
4
5

In [10]:
#7 Write a code to append the number 10 to the list [1,2,3,4]
i = ["1", "2", "3", "4"]
i.append("10")
print(i)

['1', '2', '3', '4', '10']

In [11]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
i = ["1", "2", "3", "4", "5"]
i.remove("3")
print(i)

['1', '2', '4', '5']

In [13]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
s = ['a', 'b', 'c', 'd']
print(s[1])

b

In [14]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [39]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
a, b, c = 100, 200, 300
print(a, b, c)

100 200 300

In [15]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
s = ('red', 'green', 'blue', 'yellow')
print(s[1:])

('green', 'blue', 'yellow')

In [24]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
s = (10, 20, 5, 15)
print(min(s))

5

In [25]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
i = ('dog', 'cat', 'rabbit')
print(i.index('cat'))

1

In [45]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = input("Name of first fruit")
b = input("Name of second fruit")
c = input("Name of third fruit")
fruits = (a, b, c)
print("kiwi" in fruits)

Name of first fruitOrange
Name of second fruitBanana
Name of third fruitGuava
False

In [48]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)
print(type(s))

{'c', 'b', 'a'}
<class 'set'>

In [26]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
l = {1, 2, 3, 4, 5}
l.clear()
print(l)

set()

In [27]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
i = {1, 2, 3, 4}
i.remove(4)
print(i)

{1, 2, 3}

In [49]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A = {1, 2, 3}
B = {3, 4, 5}
print(A.union(B))

{1, 2, 3, 4, 5}

In [50]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
A = {1, 2, 3}
B = {2, 3, 4}
print(A.intersection(B))

{2, 3}

In [63]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
i = {'name': 'Bob', 'age': '20', 'city': 'Mumbai'}
print(i)

{'name': 'Bob', 'age': '20', 'city': 'Mumbai'}

In [68]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
i = {'name': 'John', 'age': '25'}
i['country'] = 'USA'
print(i)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [70]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
i = {'name': 'Alice', 'age': '30'}
print(i['name'])

Alice

In [38]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
i = {'name': 'Bob', 'age': '22', 'city': 'New York'}
del i['age']
print(i)

{'name': 'Bob', 'city': 'New York'}

In [71]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
i = {'name': 'Alice', 'city': 'Paris'}
print('city' in i)

True

In [74]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
i = ["1", "2", "3", "4"]
print(i)

['1', '2', '3', '4']

In [75]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
i = [random.randint(1, 100) for _ in range(5)]
i.sort()
print(i)

[9, 15, 48, 50, 100]

In [76]:
#28 Write a code to create a list with strings and print the element at the third index.
i = ["1", "2", "3", "4"]
print(i[2])

3

In [80]:
#29 Write a code to combine two dictionaries into one and print the result.
i = {'name': 'Bob', 'age': '20'}
j = {'city': 'Mumbai'}
i.update(j)
print(i)

{'name': 'Bob', 'age': '20', 'city': 'Mumbai'}

In [78]:
#30 Write a code to convert a list of strings into a set.
i = ["1", "2", "3", "4"]
print(set(i))

{'1', '3', '2', '4'}